@using BlazorApp1.Components.Pages

<div id="light-@LightId" draggable="false">
    @if(EditMode){
        <input type="checkbox" @bind=EditLight id="edit-light@(LightId)-toggler"/>
    }

    @if (EditLight)
    {
        <span>Nazwa: </span>
        <input type="text" @bind-value=LightName />

        <span>Kanał początkowy: </span>
        <span>
            <input type="number" @bind-value=startCh />
            <input type="submit" value="Zapisz" @onmousedown='() => {Console.WriteLine("Żądanie wywołania");ChangeInfo();}' onmouseup="document.querySelector('#edit-light@(LightId)-toggler').click()" />
        </span>
    }
    else {
        <p>@LightName</p>
    }
</div>


@code {
    public bool EditLight = false;

    [Parameter]
    public int LightId { get; set; }
    [Parameter]
    public string? LightName { get; set; }
    [Parameter]
    public bool EditMode { get; set; }
    [Parameter]
    public int startCh { get; set; }

    public async void ChangeInfo()
    {      
        LightView.ChangeLightInfo(LightId, LightName, startCh);
    }
    
}
